# data/preprocessing/logs 폴더 자체를 무시
data/preprocessing/logs/

# data/preprocessing/seed-vc 폴더 자체를 무시
data/preprocessing/seed-vc/

# OpenAVFF/checkpoints 폴더 안의 특정 파일만 무시
OpenAVFF/checkpoints/stage3_init_from_stage2.pth
OpenAVFF/checkpoints/stage-2.pth
